#Logo {
    width: 150px;
}

.nav-item {

    .nav-link {
        
        &:active {
            color: $colorPrincipal;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}