$colorPrincipal:#9649e5;

$fondoContenedor:#f6f4f4;

body {
    display: flex;
    flex-direction: column;
    background-image:url("./../assets/Multicolor.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    width: 100%;
    height: auto;
}


.btn-primary {
    background-color: $colorPrincipal;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    color:#f6f4f4;
    border: 1px solid #9649e5;
    transition: all 1s;
        
        &:hover {
            transform: scale(1.1);
            justify-content: center;
        }
}


